[user]
	name = Morten Siebuhr
	email = sbhr@sbhr.dk
[core]
	excludesfile = ~/.gitignore_global
	quotepath = false
[color]
	status = auto
	diff = auto
	interactive = auto
	branch = auto
[alias]
	co = checkout
	cdiff = diff --cached
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --author-date-order
	head = log --graph --decorate --pretty=oneline --abbrev-commit --all --author-date-order -n 20

[format]
	#pretty = short

[log]
	date = local

[push]
	config = current
	default = current

[pull]
# Rebase by default (avoids quite a few f*ups when my brain isn't working properly).
    #rebase = true
